<h1>Surveys</h1>
<%= link_to 'New Survey', new_survey_path, class: 'btn btn-primary' %>

<ul>
  <% @surveys.each do |survey| %>
    <li>
      <%= link_to survey.question, survey_path(survey) %>
    </li>
  <% end %>
</ul>
