<div class="text-center my-5">
  <h1 class="big-bold-title">Surveys</h1>
</div>

<div class="mb-extra text-center mb-5">
  <%= link_to 'Create New Survey', new_survey_path, class: 'btn dark-blue-button text-white' %>
</div>

<div class="container pb-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <% @surveys.each do |survey| %>
      <div class="col">
        <div class="card dark-green-card d-flex flex-column">
          <div class="card-body flex-grow-1">
            <h5 class="card-title">
              <%= link_to survey.question, survey_path(survey), class: 'stretched-link text-white text-decoration-none' %>
            </h5>
          </div>
          <div class="card-footer bg-transparent text-center">
            <span class="text-white">Yes: <%= '%.1f' % survey.yes_percentage %>%</span>
            <span class="mx-2">|</span>
            <span class="text-white">No: <%= '%.1f' % survey.no_percentage %>%</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

